/**
font-family: 'ABeeZee', sans-serif;
font-family: 'Almarai', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'VT323', monospace;
**/

/*            CSS RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: .6px;
    /* font-family: 'ABeeZee', sans-serif; */
}


#root {
    display: flex;
    position: relative;
    color: rgb(211, 228, 244);
    background-color: rgb(40, 58, 91);
    font-family: 'ABeeZee', sans-serif;
}
/* ? adding the font */
/* !don't forget adding the font */

/*               NAVIGATION BAR     */

.navBar {
    /* font-family:  'Kalam', monospace; */
    /* text-shadow:  h-shadow v-shadow blur-radius ; */
    font-size: 600;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 20%;
    height: 930px;
    /* margin-top: 200px; */
    /* margin-bottom: auto; */
    min-width: 250px;
    max-width: 500px;
    background-color: rgb(56, 82, 129);
    background-image: url("images/logo-react-svgrepo-com.svg");
    background-repeat: no-repeat, repeat;
    background-position: right;
}

.navbar-link {
    font-family: 'Kalam', monospace;
    text-decoration: none;
    /* color: rgb(211, 228, 244); */
    color: whitesmoke;
    text-transform: lowercase;
    font-size: 1.6rem;
    font-weight: 900;
    letter-spacing: 1.1px;
    padding: 12px;
    border-radius: 5px;
}

.navbar-link:hover {
    /* text-transform: initial; */
    /* -webkit-box-shadow: -9px -6px 15px -1px rgba(63, 62, 62, 0.57); 
    box-shadow: -9px -6px 15px -1px rgba(87, 81, 81, 0.57); */
    background-color: rgb(40, 58, 91,0.7);
    color: rgb(211, 228, 244); 
}
.navbar-link:active {
    text-decoration: underline;
}


/*               MAIN          */

.right-side-main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 60px 90px;
    padding: auto 55px;
    max-width: 80%;
    max-width: 800px;
    /* min-width: 90vw; */
}


/*     IMAGES    */

img {
    /* width:120%; */
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    -webkit-box-shadow: -9px -6px 15px -1px rgba(0,0,0,0.57); 
    box-shadow: -9px -6px 15px -1px rgba(0,0,0,0.57);
}

.reduce_img {
    width: 80%;
    opacity: 0.9;
}

a {
    text-decoration: none;
    color: rgb(211, 228, 244);
    text-decoration: underline;
}

h1, h2, h3, p {
    margin-bottom: 20px;
    margin-top: 15px;
}

code {
    color:rgb(197, 220, 242);
}
