/**
font-family: 'ABeeZee', sans-serif;
font-family: 'Almarai', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'VT323', monospace;
**/

/*            CSS RESET */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    letter-spacing: .6px;
}


#root {
    display: flex;
    position: relative;
    color: rgb(211, 228, 244);
    background-color: rgb(40, 58, 91);
}
/* ? adding the font */
/* !don't forget adding the font */
.navBar {
    font-family:  'VT323', 'Kalam', monospace;
    /* text-shadow:  h-shadow v-shadow blur-radius ; */
    font-size: 600;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    align-items: center;
    width: 20%;
    height: 900px;
    /* margin-top: 200px; */
    /* margin-bottom: auto; */
    min-width: 250px;
    max-width: 500px;
}

.right-side-main {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 60px 90px;
    padding: auto 55px;
    max-width: 80%;
    max-width: 800px;
    /* min-width: 90vw; */
}

img {
    /* width:120%; */
    width: 100%;
    margin-top: 20px;
    margin-bottom: 15px;
    border-radius: 4px;
    -webkit-box-shadow: -9px -6px 15px -1px rgba(0,0,0,0.57); 
    box-shadow: -9px -6px 15px -1px rgba(0,0,0,0.57);
}

a {
    text-decoration: none;
    color: rgb(211, 228, 244);
    text-transform: lowercase;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1.1px;
}

a:hover {
    text-transform: initial;
    -webkit-box-shadow: -9px -6px 15px -1px rgba(0,0,0,0.57); 
    box-shadow: -9px -6px 15px -1px rgba(0,0,0,0.57);
}

h1, h2, h3, p {
    margin-bottom: 20px;
}

code {
    color:rgb(197, 220, 242)
}


.page-container {
    position: absolute;
    bottom: 0rem;
    color: rgb(197, 220, 242);
    text-align: center;
    font-size: 0.7rem;
    
}
